ANTY_PLATFORM_AUTH_URL=https://blackaffiliate.netlify.app/api/desktop/anty/login
ANTY_UPDATE_URL=https://github.com/pavlo-ch/anty/releases/latest/download
ANTY_PLATFORM_LOG_URL=https://your-platform.example.com/api/app-logs
